<!DOCTYPE html>
<html>
<head>
  <title>{{ title or Configs.ctf_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="{{ Configs.ctf_small_icon }}">
  <link rel="shortcut icon" href="{{ Configs.ctf_small_icon }}" type="image/x-icon">

  {{ meta | safe }}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">

  {{ Assets.js("assets/js/theme/preload.js") }}

  {% block stylesheets %}
    {{ Assets.css("assets/scss/main.scss") }}
    {{ Assets.css("assets/scss/template_runtime_styles.scss") }}
  {% endblock %}

  {{ Plugins.styles }}

  <template id="ctfd-init-data">{{ {
    'urlRoot': request.script_root,
    'csrfNonce': Session.nonce,
    'userMode': Configs.user_mode,
    'userId': Session.id,
    'userName': User.name,
    'teamId': Team.id,
    'teamName': Team.name,
    'start': Configs.start,
    'end': Configs.end,
    'themeSettings': Configs.theme_settings,
    'eventSounds': [
      '/themes/core/static/sounds/notification.webm',
      '/themes/core/static/sounds/notification.mp3'
    ]
  } | tojson }}</template>

  {{ Configs.theme_header }}
</head>
<body>
{% include "components/navbar.html" %}

<main role="main">
  {% block content %}
  {% endblock %}
</main>


{% include "components/notifications.html" %}
{% include "components/terminal.html" %}

{{ Assets.js("assets/js/base_bootstrap.js") }}
{{ Assets.js("assets/js/color_mode_switcher.js") }}
{{ Assets.js("assets/js/components/navbar.js") }}
{{ Assets.js("assets/js/components/terminal.js") }}

{% block scripts %}
  {{ Assets.js("assets/js/page.js") }}
{% endblock %}

{{ Plugins.scripts }}

{{ Configs.theme_footer }}
</body>
</html>
